<?xml version="1.0"?>
<appSettings>
  <!-- System settings-->
  <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  
  <!-- Web Services Urls -->

  <!-- Email Settings -->
  <add key="SenderNetworkCredentialUserName" value="reg@paasteel.ir"/>
  <add key="SenderNetworkCredentialPassword" value="Lenovoz510@"/>
  <add key="SmtpClientHost" value="smtp.zoho.com"/>
  <add key="SmtpClientPort" value="587"/>

  <!-- Other Settings -->
  <!--<add key="AppsDirectoryPath" value="C:\inetpub\wwwroot\App_Data\App"/>-->
  <add key="AppsDirectoryPath" value="C:\Paasteel\Apps"/>

  <!-- Supported Clients -->
   <add key="SupportedUserClientMinVersion" value="1.1.0.0"/>
   <add key="SupportedUserClientMaxVersion" value="1.1.0.0"/>
   <add key="SupportedDeveloperClientMinVersion" value="1.0.0.0"/>
   <add key="SupportedDeveloperClientMaxVersion" value="1.0.0.0"/>
</appSettings>
