<!DOCTYPE html>
<html>
<head>
    <title>پاستیل</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="اولین استور ایرانی برای ویندوز 10 موبایل">
    <meta name="keywords" content="پاستیل,استور,ویندوز 10,موبایل,فروشگاه,دانلود نرم‌افزار ویندوز فون,ایرانی,app,اپ,یونیورسال,appx">
    <script src="/Scripts/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet" href="/Content/bootstrap.min.css">
    <link rel="stylesheet" href="/Content/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/Content/bootstrap-reset.css">
    <link rel="stylesheet" href="/Content/flexslider.css" type="text/css">
    <link rel="stylesheet" href="/Content/magnific-popup.css">
    <link href="/Content/YTPlayer.css" media="all" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/Content/font-awesome.min.css">
    <link rel="stylesheet" href="/Content/colors.css">
    <link rel="stylesheet" href="/Content/style.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
</head>
<body>
    <div class="page-loader"></div>

    <div class="l-wrapper">
        <header>
            <div class="splash-image-wrap" id="splash-image-wrap">
                <div class="m-splash-image col-mg-12" id="splash-image" data-0="background-position:center 0px;" data-10000="background-position:center -2000px;">

                    <div class="flexslider flexslider-splash">
                        <ul class="slides">
                            <li class="slide-background">
                                <div class="splash-wrap slider-background">
                                    <div class="splash-content">
                                        <div class="container">
                                            <div class="col-lg-9 div-centered">
                                                <div class="splash-centering">
                                                    <h1>
                                                        پاستیل
                                                    </h1>
                                                    <div class="splash-text">
                                                        <p>اولین استور ایرانی برای ویندوز 10 موبایل</p>
                                                    </div>
                                                    <a href="http://blog.paasteel.ir" class="btn" style="-moz-min-width: 233px; -ms-min-width: 233px; -o-min-width: 233px; -webkit-min-width: 233px; min-width: 233px; font-size:22px">اخبار پاستیل را دنبال کنید</a>
                                                    <a href="http://www.paasteel.ir/download"  class="btn second-btn" style="-moz-min-width: 233px; -ms-min-width: 233px; -o-min-width: 233px; -webkit-min-width: 233px; min-width: 233px; font-size:22px">دانلود پاستیل</a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="arrow-wrap">
                        <div class="bottom-arrow"></div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>
        </header>

        <div class="menu-wrap">
            <!-- NAVIGATION -->
            <div class="l-navigation-wrap menu-padd" id="l-navigation">
                <div class="m-navbar container">
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="container-fluid">

                            <div class="l-logo">
                                <a href="#splash-image-wrap">
                                    <!--    <img src="/Content/visitor/public/image/logo.png" alt="logo" /> -->
                                </a>
                            </div><!-- l-logo -->
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="navbar">

                                <ul class="nav navbar-nav navbar-right">
                                    <li><a href="#contact-us">تماس با ما </a></li>
                                    <li><a href="#zigmaweb">پاستیل</a></li>

                                    <!-- <li class="arrow-top pull-right"><a href="#splash-image"></a></li> -->
                                </ul>


                            </div><!-- /.navbar-collapse -->


                        </div><!-- /.container-fluid -->
                    </nav>
                </div><!-- m-navbar -->
            </div><!-- l-navigation -->

        </div><!-- content -->


        <div class="l-content-wrap" id="standard-content">

            <!-- ZIGMAWEB SECTION -->
            <section>
                <div class="l-page-section l-section" id="zigmaweb">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <h1 class="text-center">پاستیل</h1>
                                <h5 class="text-center" style="white-space:pre-wrap;direction:ltr">
پاستیل یک فروشگاه نرم‌افزار برای ویندوز 10 موبایل است
                                </h5>
                            </div><!-- col-lg-12 -->
                        </div><!-- row -->

                        <div class="separator"></div><!-- separator -->

                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 text-center">
                                <img src="/Content/image/iran.png" alt="icon" class="round-icon" />
                                <h5>بستری مناسب برای کاربران ایرانی</h5>
                                <p>
                                    با توجه به مشکلات خرید و فروش نرم‌افزار از فروشگاه مایکروسافت، پاستیل محیط مناسبی را برای توسعه‌دهندگان نرم‌افزار و کاربران ایرانی فراهم می‌کند
                                </p>
                            </div><!-- col-lg-4 -->

                            <div class="col-lg-4 col-md-4 col-sm-4  text-center">
                                <img src="/Content/image/windows.png" alt="icon" class="round-icon" />
                                <h5>قابل اجرا روی ویندوز 10 موبایل</h5>
                                <p>
                                    نرم‌افزار پاستیل روی همه گوشی‌هایی که سیستم‌عامل آنها ویندوز 10 موبایل است اجرا می‌شود.
                                </p>
                            </div><!-- col-lg-4 -->

                            <div class="col-lg-4 col-md-4 col-sm-4 text-center">

                                <img src="/Content/image/download.png" alt="icon" class="round-icon" />
                                <h5>دانلود نرم افزار و بازی</h5>
                                <p>
                                    به کمک نرم‌افزار پاستیل می‌توانید برنامه‌های کاربردی و بازی‌هایی که برای ویندوزفون 8، 8.1 و یا ویندوز 10 ساخته شده‌اند را دانلود و نصب کنید
                                </p>
                            </div><!-- col-lg-4 -->
                        </div><!-- row -->
                    </div><!-- container -->
                </div><!-- l-page-section -->
            </section>
            <section id="contact-us">
                <div class="l-contactus-section l-section">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 form-wrapper opacity">
                            </div><!-- col-lg-7 -->

                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 rtl" style="font-size:16px">
                                <h6>تماس با ما</h6>
                                <ul>
                                    <li class="opacity">
                                        <img src="/Content/image/mail.png" alt="mail image" />
                                        <a class="white" href="mailto:info@paasteel.ir">info@paasteel.ir</a>
                                    </li>
                                    <li class="opacity">
                                        <img src="/Content/image/magnifier.png" alt="Paasteel weblog"/>
                                        <a class="white" href="http://blog.paasteel.ir">وبلاگ پاستیل</a>
                                    </li>
                                    <li class="opacity">
                                        <img src="/Content/image/telegram.png" alt="Paasteel weblog" />
                                        <a class="white" href="https://telegram.me/paasteelstore">
                                            کانال تلگرام
                                            <span>( به کانال تلگرام پاستیل بپیوندید )</span>
                                        </a>
                                    </li>     
                                </ul>

                            </div><!-- col-lg-5 -->

                        </div><!-- row -->
                    </div><!-- container -->

                    <div class="l-copyright text-center">

                        <div class="container">
                            <div class="m-social-icons">
                                <a href="https://www.facebook.com/paasteelstore"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </div><!--m-social-icons-->
                            <!--<p class="pull-right">Copyright 2015 @@paasteel.ir</p>-->

                        </div><!-- container -->

                    </div><!-- l-copyright -->

                </div><!-- l-contactus-section -->

            </section>

        </div><!-- l-content-wrap -->
    </div><!-- l-wrapper -->
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="/Scripts/jquery.flexslider.js"></script>
    <script type="text/javascript" src="/Scripts/skrollr.min.js"></script>
    <script src="/Scripts/jquery.easypiechart.min.js"></script>
    <script src="/Scripts/jquery.isotope.min.js"></script>
    <script src="/Scripts/jquery.isotope.sloppy-masonry.js"></script>
    <script src="/Scripts/jquery.nicescroll.min.js"></script>
    <script src="/Scripts/jquery.magnific-popup.js"></script>
    <script src="/Scripts/waypoints.min.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.mb.YTPlayer.js"></script>
    <script type="text/javascript" charset="utf-8" src="/Scripts/jquery.tweet.js"></script>
    <script src="/Scripts/jquery.validate.js"></script>
    <script src="/Scripts/common.js"></script>
</body>
</html>
