<?xml version="1.0"?>
<appSettings>
  <!-- System settings-->
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  
  <!-- Web Services Urls -->
  <add key="PortalServiceAddress" value="http://localhost/Service/PortalService.svc/~/Service/PortalService.svc"/>

</appSettings>
