<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>

  <connectionStrings>
    <!--<add name="WindowsStoreContext" connectionString="Data Source=home-server\sqlexpress,49458;Initial Catalog=WindowsStore;Persist Security Info=True;User ID=sa;Password=sa;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />-->

    <add name="WindowsStoreContext" connectionString="Data Source=78.46.172.158\sqlexpress,1433;Initial Catalog=WindowsStore;Persist Security Info=True;User ID=sa;Password=38dfgD*#4cPQ;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />

  </connectionStrings>
</configuration>