@model Store.Portal.ViewModel.IndexPageViewModel
<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<!--<![endif]-->
<head>
    <meta content="IE=11.0000"
          http-equiv="X-UA-Compatible">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0">
    <title>پاستیل - فروشگاه ویندوز - برنامه و بازی</title>

    <!--[if lt IE 9]>
    <script src="~/Content/html5.js" type="text/javascript"></script>
    <![endif]-->
    <!--[if lte IE 9]>
    <link rel="stylesheet" type="text/css" href="~/Content/ie.css" />
    <![endif]-->

    <link rel="stylesheet" id="owl-carousel-css" href="~/Content/Asset/Index/owl.carousel.css?ver=3.9.11" type="text/css" media="all" />
    <link rel="stylesheet" id="owl-carousel-theme-css" href="~/Content/Asset/Index/owl.theme.css?ver=3.9.11" type="text/css" media="all" />
    <link rel="stylesheet" id="ias-css-css" href="~/Content/Asset/Index/style.css?ver=3.9.11" type="text/css" media="all" />
    <link rel="stylesheet" id="ias-devide-css" href="~/Content/Asset/Index/style.css?ver=3.9.11" type="text/css" media="all" />
    <link rel="stylesheet" id="font-awesome-css" href="~/Content/Asset/Index/font-awesome.min.css?ver=4.4.2" type="text/css" media="screen" />
    <link rel="stylesheet" id="contact-form-7-css" href="~/Content/Asset/Index/styles.css?ver=4.1.2" type="text/css" media="all" />
    <link rel="stylesheet" id="contact-form-7-rtl-css" href="~/Content/Asset/Index/styles-rtl.css?ver=4.1.2" type="text/css" media="all" />
    <link rel="stylesheet" id="woocommerce-layout-css" href="~/Content/Asset/Index/woocommerce-layout.css?ver=2.3.11" type="text/css" media="all" />
    <link rel="stylesheet" id="woocommerce-smallscreen-css" href="~/Content/Asset/Index/woocommerce-smallscreen.css?ver=2.3.11" type="text/css" media="only screen and (max-width: 768px)" />
    <link rel="stylesheet" id="woocommerce-general-css" href="~/Content/Asset/Index/woocommerce.css?ver=2.3.11" type="text/css" media="all" />
    <link rel="stylesheet" id="prettyPhoto-css" href="~/Content/Asset/Index/prettyPhoto.css?ver=3.9.11" type="text/css" media="all" />
    <link rel="stylesheet" id="wpajax-css" href="~/Content/Asset/Index/style.css?ver=3.9.11" type="text/css" media="all" />
    <link rel="stylesheet" id="wp-pagenavi-css" href="~/Content/Asset/Index/pagenavi-css.css?ver=2.70" type="text/css" media="all" />
    <link rel="stylesheet" id="google-font-css" href="~/Content/Asset/Index/css?family=yekan%7Cyekan&#038;ver=3.9.11" type="text/css" media="all" />
    <link rel="stylesheet" id="bootstrap-css" href="~/Content/Asset/Index/bootstrap.min.css?ver=3.9.11" type="text/css" media="all" />
    <link rel="stylesheet" id="lightbox2-css" href="~/Content/Asset/Index/colorbox.css?ver=3.9.11" type="text/css" media="all" />
    <link rel="stylesheet" id="style-css" href="~/Content/style.css?ver=3.9.11" type="text/css" media="all" />
    <link rel="stylesheet" id="modern-style-css" href="~/Content/Asset/Index/modern-style.css?ver=3.9.11" type="text/css" media="all" />
    <link rel="stylesheet" id="custom-css-css" href="~/Content/custom.css.php.css" type="text/css" media="all" />
    <link rel="stylesheet" id="rtl-css" href="~/Content/Asset/Index/rtl.css?ver=3.9.11" type="text/css" media="all" />
    <link rel="stylesheet" id="js_composer_front-css" href="~/Content/Asset/Index/js_composer.css?ver=4.4.2" type="text/css" media="all" />
    <script src="~/Content/Asset/Index/jquery.js" type="text/javascript"></script>

    <script src="~/Content/Asset/Index/jquery-migrate.min.js" type="text/javascript"></script>

    <script src="~/Content/Asset/Index/jquery.prettyPhoto.js" type="text/javascript"></script>

    <style type="text/css" data-type="vc_shortcodes-custom-css">
        .vc_custom_1415027570575 {
            padding-top: 156px !important;
            padding-bottom: 50px !important;
            background-image: url(/Content/Asset/Index/14598444469_08509c0e9a_h.jpg) !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
        }

        .vc_custom_1415027671756 {
            margin-bottom: 0px !important;
            padding-top: 20px !important;
        }

        .vc_custom_1415027800980 {
            margin-bottom: 0px !important;
            padding-top: 10px !important;
        }

        .vc_custom_1415027996359 {
            margin-bottom: 17px !important;
            padding-top: 10px !important;
        }

        .vc_custom_1415028102480 {
            margin-bottom: 0px !important;
            padding-top: 60px !important;
            padding-bottom: 60px !important;
            background-image: url(/Content/Asset/Index/kale-salad.jpg) !important;
            background-position: 0 0 !important;
            background-repeat: repeat !important;
        }

        .vc_custom_1415028093125 {
            margin-bottom: 0px !important;
            padding-top: 60px !important;
            padding-bottom: 60px !important;
        }

        .vc_custom_1415028133110 {
            margin-bottom: 0px !important;
            padding-top: 55px !important;
            padding-bottom: 50px !important;
            background-image: url(/Content/Asset/Index/14598444469_08509c0e9a_h.jpg) !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
        }

        .vc_custom_1415028165168 {
            padding-top: 55px !important;
            padding-bottom: 25px !important;
        }

        .vc_custom_1434433444986 {
            padding-top: 5px !important;
        }
    </style>
</head>
<body class="rtl home page page-id-2384 page-template page-template-page-templatesfront-page-php full-width template-front-page custom-background-empty single-author wpb-js-composer js-comp-ver-4.4.2 vc_responsive">
    <a id="top" style="top: 0px; height: 0px; position: absolute;"></a>
    <div class="dark-div" id="pageloader" style="background: rgb(17, 17, 17); left: 0px; top: 0px; width: 100%; height: 100%; position: fixed; z-index: 99999;">
        <div class="loader loader-2"><i></i><i></i><i></i><i></i></div>
    </div>
    <script>
        setTimeout(function () {
            jQuery('#pageloader').fadeOut();
        }, 30000);
    </script>

    <div id="body-wrap">
        <div id="wrap">
            <header>
                <div class=" dark-div " id="main-nav" data-offset-top="280"
                     data-spy="affix">
                    <nav class="navbar navbar-inverse " role="navigation">
                        <div class="container">
                            <!-- Brand and toggle get grouped for better mobile display -->

                            <div class="navbar-header">
                                <a class="logo" href="#">
                                    <img alt="logo" src="~/Content/Image/logo.png">
                                </a>
                            </div><!-- Collect the nav links, forms, and other content for toggling -->

                            <div class="main-menu hidden-xs ">
                                <ul class="nav navbar-nav navbar-right">
                                    <li>
                                        <a class="search-toggle"
                                           href="">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </li>
                                </ul>
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="main-menu-item menu-item-depth-0 menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children parent dropdown"
                                        id="nav-menu-item-3134">
                                        <a title="Homepage" class="menu-link dropdown-toggle disabled main-menu-link"
                                           href="#" data-toggle="dropdown">
                                            صفحه
                                            اصلی
                                        </a>

                                    </li>
                                    <li class="main-menu-item menu-item-depth-0 menu-item menu-item-type-post_type menu-item-object-page current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children parent dropdown"
                                        id="nav-menu-item-3146">
                                        <a class="menu-link dropdown-toggle disabled main-menu-link"
                                           href="" data-toggle="dropdown">
                                            دانلود
                                        </a>
                                        <ul class="dropdown-menu menu-depth-1">
                                            <li class="sub-menu-item menu-item-depth-1 menu-item menu-item-type-post_type menu-item-object-page"
                                                id="nav-menu-item-3166">
                                                <a class="menu-link  sub-menu-link" href="">
                                                    پاستیل - ویندوزفون
                                                </a>
                                            </li>
                                            <li class="sub-menu-item menu-item-depth-1 menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-2384 current_page_item"
                                                id="nav-menu-item-3167">
                                                <a class="menu-link  sub-menu-link" href="">
                                                    پاستیل - دسکتاپ
                                                </a>
                                            </li>
                                            <li class="sub-menu-item menu-item-depth-1 menu-item menu-item-type-post_type menu-item-object-page"
                                                id="nav-menu-item-3168">
                                                <a class="menu-link  sub-menu-link" href="">
                                                    پاستیل - برنامه توسعه دهندگان
                                                </a>
                                            </li>

                                        </ul>
                                    </li>

                                    <li class="main-menu-item menu-item-depth-0 menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children parent dropdown"
                                        id="nav-menu-item-3133">
                                        <a title="وبلاگ" class="menu-link dropdown-toggle disabled main-menu-link"
                                           href="http://blog.paasteel.ir" data-toggle="dropdown" target="_blank">
                                            وبلاگ

                                        </a>

                                    </li>
                                    <li class="main-menu-item menu-item-depth-0 sub-menu-left menu-item menu-item-type-post_type menu-item-object-page"
                                        id="nav-menu-item-3136">
                                        <a class="menu-link  main-menu-link" href="#contact-us">
                                            ارتباط با ما
                                            @*<span class="menu-description">فرم تماس</span>*@
                                        </a>
                                    </li>
                                </ul>
                            </div><!-- /.navbar-collapse -->
                            <button class="mobile-menu-toggle  visible-xs " type="button">
                                <span class="sr-only">Menu</span>                             <i class="fa fa-bars"></i>
                            </button>
                        </div>
                    </nav>
                </div><!-- #main-nav -->
            </header>
            <div class="top-sidebar">
                <div class="container">
                    <div class="row"></div><!--/row-->
                </div><!--/container-->
            </div><!--/Top sidebar-->

  @RenderBody()
            <div id="bottom-sidebar">
                <div class="container">
                    <div class="row normal-sidebar"></div>
                </div>
            </div><footer class="dark-div main-color-2-bg  fixed-effect ">
                <div class="footer-inner fixed-effect-inner">
                    <section id="bottom">
                        <div class="section-inner">
                            <div class="container">
                                <div class="row normal-sidebar">
                                    <div class="col-md-3 widget widget_text" id="text-2">
                                        <div class="widget-inner">
                                            <h2 class="widget-title maincolor1">درباره ما</h2>
                                            <div class="textwidget" style="text-align: justify; font-size:14px">

                                                پاستیل فروشگاهی برای برنامه ها و بازی های ویندوزی است که
                                                برای نصب روی دستگاههایی از قبیل موبایل، تبلت، فبلت، لپ تاپ، سرفیس هاب،
                                                سرفیس پرو، سرفیس بوک، مایکروسافت بند، هالولنز، اکس باکس و... که
                                                قابلیت اجرای ویندوز 10 را دارند طراحی شده است.
                                                پاستیل به طور ویژه برای کاربران ایرانی ارائه خدمات می کند بنابراین فرصت مناسبی برای توسعه
                                                دهندگان آشنا به تکنولوژی های مایکروسافت است
                                                تا در بازار رو به رشد دستگاههای ویندوزی و هوشمند قدم بگذارند و کسب درآمد کنند.
                                                در حال حاضر توسعه دهندگان برنامه های ویندوزی می توانند با استفاده از نرم افزار مخصوص توسعه دهندگان پاستیل
                                                که به صورت یونیورسال طراحی شده است، به آسانی برنامه های خود را منتشر، بروز رسانی و مدیریت کنند.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 widget app_recent_posts" id="app-recent-posts-2">
                                        <div class="widget-inner">
                                            <div class="app-lastest">
                                                <h2 class="widget-title maincolor1">ارتباط با ما</h2>
                                                <div class="item">
                                                    <div class="thumb item-thumbnail">
                                                        <a title="ایمیل" href="mailto:info@paasteel.ir" target="_blank">
                                                            <div class="item-thumbnail">
                                                                <img src="/Content/image/mail.png" alt="mail image" />

                                                                <div class="thumbnail-hoverlay main-color-1-bg"></div>
                                                                <div class="thumbnail-hoverlay-icon">
                                                                    <i class="fa fa-search"></i>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="app-details item-content" style="padding-top: 15px; font-size: 16px">

                                                        <a class="white" href="mailto:info@paasteel.ir" target="_blank">info@paasteel.ir</a>

                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="item">
                                                    <div class="thumb item-thumbnail">
                                                        <a title=")وبلاگ (اخبار پاستیل" href="http://blog.paasteel.ir/" target="_blank">
                                                            <div class="item-thumbnail">
                                                                <img src="~/Content/image/magnifier.png" alt="mail image" />

                                                                <div class="thumbnail-hoverlay main-color-1-bg"></div>
                                                                <div class="thumbnail-hoverlay-icon">
                                                                    <i class="fa fa-search"></i>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="app-details item-content" style="padding-top: 15px; font-size:16px">

                                                        <a class="white" href="http://blog.paasteel.ir/" target="_blank">وبلاگ (اخبار پاستیل)</a>

                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="item" style="align-content: center; vertical-align:central">
                                                    <div class="thumb item-thumbnail">
                                                        <a title="کانال تلگرام" href="https://telegram.me/paasteelstore" target="_blank">
                                                            <div class="item-thumbnail">
                                                                <img src="/Content/image/telegram.png" alt="telegram image" />
                                                                <div class="thumbnail-hoverlay main-color-1-bg"></div>
                                                                <div class="thumbnail-hoverlay-icon">
                                                                    <i class="fa fa-search"></i>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="app-details item-content" style="padding-top: 15px; font-size:16px">

                                                        <a title="کانال تلگرام" class="main-color-1-hover" href="https://telegram.me/paasteelstore" target="_blank">
                                                            کانال تلگرام
                                                        </a>

                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                                @*<div class="item">
                                                        <div class="thumb item-thumbnail">
                                                            <a title="صفحه فیسبوک" href="https://www.facebook.com/paasteelstore" target="_blank">
                                                                <div class="item-thumbnail">
                                                                    <img src="/Content/image/facebook.png" alt="facebook page image"/>
                                                                    <div class="thumbnail-hoverlay main-color-1-bg"></div>
                                                                    <div class="thumbnail-hoverlay-icon">
                                                                        <i class="fa fa-search"></i>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <div class="app-details item-content" style="padding-top: 15px; font-size: 16px">

                                                            <a title="صفحه فیسبوک" class="main-color-1-hover" href="https://www.facebook.com/paasteelstore" target="_blank">
                                                                صفحه فیسبوک
                                                            </a>

                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>*@
                                                @*<div class="item">
                                                        <div class="thumb item-thumbnail">
                                                            <a title="توییتر" href="https://twitter.com/paasteelstore" target="_blank">
                                                                <div class="item-thumbnail">
                                                                    <img src="~/Content/image/twitter.png" alt="facebook page image"/>
                                                                    <div class="thumbnail-hoverlay main-color-1-bg"></div>
                                                                    <div class="thumbnail-hoverlay-icon">
                                                                        <i class="fa fa-search"></i>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <div class="app-details item-content" style="padding-top: 15px; font-size: 16px">

                                                            <a title="توییتر" class="main-color-1-hover" href="https://twitter.com/paasteelstore" target="_blank">
                                                                توییتر
                                                            </a>

                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>*@
                                                @*<div class="item">
                                                        <div class="thumb item-thumbnail">
                                                            <a title="لینکدین" href="" target="_blank">
                                                                <div class="item-thumbnail">
                                                                    <img src="~/Content/image/linkedin.png" alt="facebook page image" />
                                                                    <div class="thumbnail-hoverlay main-color-1-bg"></div>
                                                                    <div class="thumbnail-hoverlay-icon">
                                                                        <i class="fa fa-search"></i>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <div class="app-details item-content" style="padding-top: 15px; font-size:16px">

                                                            <a title="لینکدین" class="main-color-1-hover" href="" target="_blank">
                                                                لینکدین
                                                            </a>

                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 widget widget_tag_cloud" id="tag_cloud-2">
                                        <div class="widget-inner">
                                            <h2 class="widget-title maincolor1">لینک های پرکاربرد</h2>
                                            <div>
                                                <a title="راهنما" class="tag-link-40" style="font-size: 16px;"
                                                   href="">راهنما</a>
                                                <br />
                                                <a title="سوالات متداول" class="tag-link-40" style="font-size: 16px;"
                                                   href="">سوالات  متداول</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 widget woocommerce widget_products" id="woocommerce_products-2">
                                        <div class="widget-inner">
                                            <h2 class="widget-title maincolor1">دانلود</h2>
                                            <ul class="product_list_widget">
                                                <li>
                                                    <a title="پاستیل - ویندوزفون" href="#">
                                                        <img class="attachment-shop_thumbnail wp-post-image" alt="HNCK1474-1300x866"
                                                             src="~/Content/Image/paasteel-mobile.png">
                                                        <span style="padding-top: 35px; font-size: 16px">	پاستیل - ویندوزفون</span><br />
                                                        <span>(موبایل و تبلت و سایر دستگاههای لمسی)</span>
                                                    </a>

                                                </li>
                                                <li>
                                                    <a title="پاستیل - دسکتاپ" href="#">
                                                        <img class="attachment-shop_thumbnail wp-post-image" alt="IMG_3212-1300x866"
                                                             src="~/Content/Image/paasteel-desktop.png"> <span style="padding-top: 35px; font-size: 16px">	پاستیل - دسکتاپ</span>
                                                        <br />
                                                        <span>(لپ تاپ و PC و سایر دستگاههای غیرلمسی)</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a title="پاستیل - برنامه توسعه دهندگان" href="#">
                                                        <img class="attachment-shop_thumbnail wp-post-image" alt="IMG_5956-1300x866"
                                                             src="~/Content/Image/paasteel-developer.png"> <span style="padding-top: 35px; font-size: 16px">	پاستیل - برنامه توسعه دهندگان</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div id="bottom-nav">
                        <div id="contact-us" class="container">
                            <div class="text-center back-to-top-wrap">
                                <a title="برگشت به بالا" class="back-to-top main-color-2-bg"
                                   href="#top"><i class="fa fa-angle-double-up"></i></a>
                            </div>
                            <div class="row footer-content">
                                <div class="copyright col-md-6">
                                    <a href="#"
                                       target="_blank"></a>
                                    2016    &copy; Paasteel.ir
                                </div><nav class="col-md-6 footer-social">
                                    <ul class="list-inline pull-right social-list">
                                        <li>
                                            <a class="btn btn-default social-icon" href="https://www.facebook.com/paasteelstore" target="_blank">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="btn btn-default social-icon" href="https://twitter.com/paasteelstore" target="_blank">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="btn btn-default social-icon" href="#" target="_blank">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </li>

                                    </ul>
                                </nav>
                            </div><!--/row-->
                        </div><!--/container-->
                    </div>
                </div>
            </footer><!--/footer-inner-->
        </div><!--wrap-->
    </div><!--/body-wrap-->
    <div class="mobile-menu-wrap dark-div  visible-xs ">
        <a class="mobile-menu-toggle"
           href="#">
            <i class="fa fa-times"></i>
        </a>
        <ul class="mobile-menu">
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children parent menu-item-3134"
                id="menu-item-3134">
                <a title="Homepage" href="#">
                    صفحه
                    اصلی
                </a>
            </li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children parent menu-item-3146"
                id="menu-item-3146">
                <a href="">
                    دانلود
                </a>
                <ul class="sub-menu">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3166"
                        id="menu-item-3166">
                        <a href="">
                            پاستیل - ویندوزفون
                        </a>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-2384 current_page_item menu-item-3167"
                        id="menu-item-3167">
                        <a href="">پاستیل - دسکتاپ</a>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3168"
                        id="menu-item-3168">
                        <a href="">
                            پاستیل - برنامه توسعه دهندگان
                        </a>
                    </li>

                </ul>
            </li>

            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children parent menu-item-3133"
                id="menu-item-3133">
                <a title="وبلاگ" href="http://blog.paasteel.ir" target="_blank">وبلاگ</a>
            </li>
            <li class="sub-menu-left menu-item menu-item-type-post_type menu-item-object-page menu-item-3136"
                id="menu-item-3136">
                <a href="#contact-us">
                    ارتباط با ما
                </a>
            </li>
            <li>
                <a class="search-toggle"
                   href="#">
                    <i class="fa fa-search"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="dark-div" id="off-canvas-search">
        <div class="search-inner">
            <div class="container">
                <form action="">
                    <input name="s" class="form-control search-field font-2" id="s" type="text" placeholder="کلمه مورد نظر خود را تایپ کنید..." value="" autocomplete="off"><a class="search-toggle" href="">
                        <i class="fa fa-times"></i>
                    </a>
                </form>
            </div>
        </div>
    </div>
    <script src="~/Content/Asset/Index/waypoints.min.js" type="text/javascript"></script>

    <script src="~/Content/Asset/Index/owl.carousel.min.js" type="text/javascript"></script>

    <script src="~/Content/Asset/Index/main.js" type="text/javascript"></script>

    <script src="~/Content/Asset/Index/jquery.form.min.js" type="text/javascript"></script>


    <script src="~/Content/Asset/Index/scripts.js" type="text/javascript"></script>



    <script src="~/Content/Asset/Index/add-to-cart.min.js" type="text/javascript"></script>

    <script src="~/Content/Asset/Index/jquery.blockUI.min.js" type="text/javascript"></script>

    <script type="text/javascript">
        /* <![CDATA[ */
        var woocommerce_params = { "ajax_url": "\/demo\/wordpress\/applay\/wp-admin\/admin-ajax.php" };
        /* ]]> */
    </script>

    <script src="~/Content/Asset/Index/woocommerce.min.js" type="text/javascript"></script>

    <script src="~/Content/Asset/Index/jquery.cookie.min.js" type="text/javascript"></script>

    <script type="text/javascript">
        /* <![CDATA[ */
        var wc_cart_fragments_params = { "ajax_url": "\/demo\/wordpress\/applay\/wp-admin\/admin-ajax.php", "fragment_name": "wc_fragments" };
        /* ]]> */
    </script>

    <script src="~/Content/Asset/Index/cart-fragments.min.js" type="text/javascript"></script>

    <script src="~/Content/Asset/Index/masonry.min.js" type="text/javascript"></script>

    <script src="~/Content/Asset/Index/main.js" type="text/javascript"></script>

    <script src="~/Content/Asset/Index/bootstrap.min.js" type="text/javascript"></script>

    <script src="~/Content/Asset/Index/comment-reply.min.js" type="text/javascript"></script>

    <script src="~/Content/Asset/Index/template.js" type="text/javascript"></script>

    <script src="~/Content/Asset/Index/js_composer_front.js" type="text/javascript"></script>
</body>
</html>
